@model ProjectClock.BusinessLogic.Dtos.OrganizationDto.ManageOrganizationDto
@{
    var noUsersMessage = TempData["NoUsersMessage"] as string;
    var userAddedMessage = TempData["UserAddedMessage"] as string;
    var userAddFailedMessage = TempData["UserAddedFailedMessage"] as string;
}

<style>
    .transparent-border {
        border: 2px solid rgba(0, 74, 122, 0.05);
        padding: 10px;
    }

    .column-spacing {
        margin-right: 4px;
    }
</style>


@{
    if (Model.Organization is null)
    {
        <h1 class="fw-bold mb-4 text-center">Manage organization</h1>
    }
    else
    {
        <h1 class="fw-bold mb-4 text-center">Manage organization @Model.Organization.Name</h1>
    }
}



<div class="container-lg">

    <div class="row">
        <div class="col-md-3 transparent-border mx-auto d-flex justify-content-center align-items-center">
            <form asp-controller="Organization" asp-action="Choose" method="post">
                <div class="mb-2">
                    <label for="selectedOrganization">Choose your organization</label>
                    <select class="form-select form-select-sm" aria-label="Small select example" id="selectedOrganization" name="organizationId">
                        @{
                            foreach (var organization in Model.Organizations)
                            {
                                <option value="@organization.Id">@organization.Name</option>
                            }
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-sm d-block mx-auto">Choose</button>
            </form>
        </div>
    </div>

    @{
        if (Model.AllUsers.Count != 0)
        {
            <div class="row">
                <div class="col-md-3 col-3 mb-3 transparent-border col-md-3 transparent-border mx-auto" id="organizationSelect">
                    <form asp-controller="Organization" asp-action="InviteUser" method="post">
                        <label for="selectedOrganization">Invite to organization</label>
                        <input type="hidden" name="organizationId" value="@Model.OrganizationId" />
                        <select class="form-select form-select-sm" aria-label="Small select example" id="selectedOrganization" name="userId">
                            @{
                                foreach (var user in Model.AllUsers)
                                {
                                    <option value="@user.Id">@user.Name @user.Surname</option>
                                }
                            }
                        </select>
                        <button type="submit" class="btn btn-outline-secondary text-center m-1">Invite</button>
                    </form>
                </div>
                <div class="col-md-3 col-3 mb-3 transparent-border col-md-3 transparent-border mx-auto" id="organizationSelect">
                    <form asp-controller="Organization" asp-action="Choose" method="post">
                        <label for="selectedOrganization">Choose user to manage</label>
                        <input type="hidden" name="organizationId" value="@Model.OrganizationId" /> <!-- Dodane pole ukryte -->
                        <select class="form-select form-select-sm" aria-label="Small select example" id="selectedOrganization" name="userId">
                            @{
                                foreach (var user in Model.OrganizationUsers)
                                {
                                    <option value="@user.Id">@user.Name</option>
                                }
                            }
                        </select>
                        <button type="submit" class="btn btn-outline-secondary text-center m-1">Choose</button>
                    </form>
                </div>
                <div class="col-md-3 col-3 mb-3 transparent-border col-md-3 transparent-border mx-auto" id="organizationSelect">
                    <form asp-controller="Organization" asp-action="Choose" method="post">
                        <label for="selectedOrganization">Choose user to manage</label>
                        <input type="hidden" name="organizationId" value="@Model.OrganizationId" /> <!-- Dodane pole ukryte -->
                        <select class="form-select form-select-sm" aria-label="Small select example" id="selectedOrganization" name="userId">
                            @{
                                foreach (var user in Model.OrganizationUsers)
                                {
                                    <option value="@user.Id">@user.Name</option>
                                }
                            }
                        </select>
                        <button type="submit" class="btn btn-outline-secondary text-center m-1">Choose</button>
                    </form>
                </div>
                <div class="col-md-3 col-3 mb-3 transparent-border col-md-3 transparent-border mx-auto" id="organizationSelect">
                    <form asp-controller="Organization" asp-action="Choose" method="post">
                        <label for="selectedOrganization">Choose user to manage</label>
                        <input type="hidden" name="organizationId" value="@Model.OrganizationId" /> <!-- Dodane pole ukryte -->
                        <select class="form-select form-select-sm" aria-label="Small select example" id="selectedOrganization" name="userId">
                            @{
                                foreach (var user in Model.OrganizationUsers)
                                {
                                    <option value="@user.Id">@user.Name</option>
                                }
                            }
                        </select>
                        <button type="submit" class="btn btn-outline-secondary text-center m-1">Choose</button>
                    </form>
                </div>
            </div>
        }
    }

    @{
        if (Model.User is not null)
        {
            <div class="row">
                <div class="col-md-3 col-3 mb-3 transparent-border col-md-3 transparent-border mx-auto" id="organizationSelect">
                    <input type="hidden" name="organizationId" value="@Model.OrganizationId" /> <!-- Dodane pole ukryte -->
                    <p> Id: @Model.User.Id Name: @Model.User.Name Surname:@Model.User.Surname </p>
                </div>
            </div>
        }
    }



</div>

@if (!string.IsNullOrEmpty(noUsersMessage))
{
    <div class="alert alert-danger" role="alert">
        @noUsersMessage
    </div>
}
@if (!string.IsNullOrEmpty(userAddedMessage))
{
    <div class="alert alert-success" role="alert">
        @userAddedMessage
    </div>
}
@if (!string.IsNullOrEmpty(userAddFailedMessage))
{
    <div class="alert alert-success" role="alert">
        @userAddFailedMessage
    </div>
}